<footer class="bg-dark text-light d-flex justify-content-center align-items-center">
  <!-- <div class="spinner-border" role="status">
    <span class="spinner-border"></span>
  </div> -->
  <span>
    <small *ngIf="isLoading" class="spinner-border spinner-border-sm"></small>
    <ng-container *ngIf="!isLoading">
      <button *ngIf="!isLoggedIn" (click)="login()" class="pointer shadow btn btn-success">Login</button>
      <button *ngIf="isLoggedIn" (click)="logOut()" class="pointer shadow btn btn-danger">Log out</button>
    </ng-container>
  </span>
</footer>
