
<div *ngIf="privateView" class="border-top border-bottom py-2 my-3 d-flex justify-content-between">
  <div><strong>Total:</strong> {{response.totalItems}}</div>
  <div><i class="bi bi-plus-circle pointer text-success" (click)="addProduct()"></i></div>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
  <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<section *ngIf="!isLoading" class="row">


  <ng-container *ngIf="response.totalItems > 0">
    <app-shared-product-card *ngFor="let item of response?.results" [product]="item" (reload)="getProducts()" [canEdit]="privateView" class="col-md-4"></app-shared-product-card>

    <section>
      <ngb-pagination
        [(page)]="request.offset"
        [pageSize]="request.limit"
        [collectionSize]="response.totalItems"
        (pageChange)="pageChanged($event)"
        >
      </ngb-pagination>
    </section>
  </ng-container>

  <div *ngIf="response?.totalItems == 0" class="col-12 text-item">
    <h5>No Products at the moment</h5>
  </div>

</section>
